  .menu-btn:hover{
color: #FFFFFF;
  }

.menu {display: flex;
justify-content: center
}

.menu>.item:not(:last-child) {
   margin-right: 10px;
}
.item{
   
   color: #212121;
   background-color: #F5F4FA;
   margin-top: 100px;
}
.item:hover{ background-color: $akcent-color;}
button:hover{background-color: $akcent-color;}
button{
   border: none;
   padding-top: 6px;
      padding-bottom: 6px;
      padding-left: 24px;
      padding-right: 24px;
}
  .menu-btn{
    font-weight: 500;
font-size: 16px;
line-height: 26px;
/* identical to box height, or 162% */

text-align: center;
letter-spacing: 0.03em;

color: #212121;

  }
  .menu-btn:hover{
color: #FFFFFF;
  }
  