
     .footer {
   padding-bottom: 60px;
    background: #2F303A;
    display: flex;
}

footer .container{
    display: flex;
}
.logo-footer { 
    padding-top:60px ;
    font-family: 'Raleway';
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;

    color: #2196F3;
}
.list-mailing{
    display: flex;
}
.footer-mailing{
    padding-left: 100px;
    padding-top:75px ;
}
.mailing-text{
    font-weight: 500;
color: #FFFFFF;
margin-bottom: 20px;
font-size: 20px;
letter-spacing: 0.03em;
}
.footer-btn{
    width: 200px;
height: 50px;
    border: none;
    font-size: 16px;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    line-height: 1.9;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    display: block;
    background: #2196F3;
    border-radius: 4px;
    position: relative;
}
.svg-mailing{
    width: 24px;
    height: 24px;
    margin-left: 12px;
    fill: #FFFFFF;
    /* margin-top: 12px; */
}
.footer-social{
    padding-top: 72px;
    padding-left: 70px;
}

.logo-word {
    font-family: 'Raleway';
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 1);

}
.footer-input{
    padding-left: 12px;
    margin-right: 12px;
    width: 450px;
height: 50px;
background: #2F303A;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.place {
    font-style: normal;
    margin-top: 20px;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0, 03em;
    color: #FFFFFF;
}

.email-footer {
   font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    margin-top: 9px;
    color: rgba(255, 255, 255, 0.6);
}

.tel-footer {
    /* margin-top: 9px; */
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}
.list-footer {
    list-style: none;
}


.Join-in{
    color: #FFFFFF;
    font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.03em;
text-transform: uppercase;
margin-bottom: 16px;

}
.list-footer{
    display:flex;
}

.svg-social-networks-footer{
fill: #FFFFFF;
background-color: 100% solid #757575;
width: 20px;
height: 20px;
margin-right: 10px;
}
.svg-social-networks-footer:hover{
    fill: #FFFFFF;
    background-color: #2196F3;
    border-radius: 100%;
}


.social-item:last-child{
    margin-right: 0px;
}




.list-item-footer{
    margin-right: 10px;
    width: 44px;
    height: 44px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
}



.footer-btn:hover{
    background-color: purple;
}
.footer-btn:active{
    top:5px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
